@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
#container header{
    width: 100%;
    height: 170px;
    background-color: darkslategray;
}
#container header .logo{
    width: 27%;
    height: 120px;
    line-height: 120px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    float: left;
    color: ghostwhite;
}
#container header .input{
    width: 73%;
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-top: 20px;
}
#container header .input #input1{
    width: 45%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}
#container header .input #input1 form select{
    height: 40px;
    width: 15%;
    float: left;  
    outline: none;
    border: hidden;
}
#container header .input #input1 form input{
    height: 40px;
    width: 75%;
    padding-left: 20px;
    border-left: 1px solid gainsboro;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-right: 2px white solid;
    outline: none;
    float: left;
}   
#container header .input button{
    background-color: rgb(238, 101, 52);
    color: white;
    height: 40px;
    width: 10%;
    line-height: 40px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    border: hidden;
    font-size: 16px;
    outline: none;
}
#container header .input #input2{
    width: 10%;
    height: 40px;
    float: left;
}
#container header .input #input2 button{
    width: 100%;
    height: 40px;
    border: hidden;
    outline: none;
    cursor: pointer;
    background-color: darkslategray;
    font-size: 23px;
    line-height: 40px;
    color: white;
}
#container header .input #input3{
    width: 18%;
    height: 40px;
    float: left;
    line-height: 20px;
    color: white;
    font-size: 13px;
}
#container header .input #input4{
    width: 5%;
    height: 40px;
    float: left;
}
#container header .input #input4 button{
    border: hidden;
    outline: none;
    cursor: pointer;
    line-height: 40px;
    font-size: 20px;
    background-color: rgb(238, 101, 52);
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
#container header .input #input4 button:hover{
    border-radius: 0;
}
#container header .sub-input{
    width: 71%;
    height: 50px;
    float: left; 
    padding-top: 10px;
}
#container header .sub-input ul{
    list-style-type: none;
}
#container header .sub-input ul li{
    color: white;
    line-height: 40px;
    width: 18%;
    height: 40px;
    display: inline-table;
    font-size: 13px;
}
#container header .hr{
    width: 100%;
    height: 1px;
    background-color: grey;
    float: left;
}
#container header .menu{
    width: 100%;
    height: 50px;
    float: left;
}
#container header .menu ul{
    list-style-type: none;
    text-align: center;
}
#container header .menu ul li{
    display: inline-table;
    margin: 10px;
    font-size: 15px;
    margin-top: 15px;
}
#container header .menu ul li a{
    text-decoration: none;
    color: white;
}
#container section{
    width: 100%;
    height: 100%;
}
#container section .tieu-de{
    width: 100%;
    height: 10%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    padding-top: 20px;
}
#container section .project{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    text-align: center;
}
#container section .project #sample1{
    width: 20%;
    margin: 1%;
    height: 95%;
    display: inline-table;
    font-size: 15px;
    text-align: center;
}
#container section .project .tab1{
    width: 5%;
    height: 100%;
}
#container section .project #sample1 h4{
    padding-top: 3%;
}
#container section .project #sample1 p{
    padding-top: 4%;
    font-size: 14px;
}
#container section .project #sample1:hover{
    box-shadow: 0 0 5px rgb(114, 110, 110);
    border-radius: 20px;
    overflow: hidden;
}
#container section .image1{
    width: 100%;
    height: 500px;
    float: left;
    padding-top: 5%;
    margin-bottom: 3%;
}
#container section .image1 #qc1{
    width: 50%;
    height: 270px;
    padding: px;
    float: left;
    padding-left: 6.5%;
}
#container section .image1 #qc2{
    width: 50%;
    height: 270px;
    float: left;
    padding-right: 5.8%;
    padding-left: 1.3%;
}
#container section .image1 #qc2 .banner1{
    width: 46%;
    height: 205px;
    float: left;
}
#container section .image1 #qc2 .banner2{
    width: 46%;
    height: 205px;
    float: left;
    margin-left: 3%;
}
#container section .image1 #qc2 .banner3{
    width: 46%;
    height: 205px;
    float: left;
    margin-top: 3%;
}
#container section .image1 #qc2 .banner4{
    width: 46%;
    height: 205px;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}
#container section .gioi-thieu{
    width: 100%;
    height: 80%;
    float: left;
}
#container section .gioi-thieu #tieu-de1{
    width: 100%;
    height: 60px;
    float: left;
    text-align: center;
}
#container section .gioi-thieu #tieu-de1 h4{
    padding-bottom: 4px;
}
#container section .gioi-thieu #tieu-de1 a{
    text-decoration: none;
    color:orangered;
    font-size: 15px;
}
#container section .gioi-thieu #tieu-de1 a:hover{
    text-decoration: underline;
}
#container section .gioi-thieu #san-pham1{
    width: 12.5%;
    height: 240px;
    margin-left: 6.5%;
    float: left;
    text-align: center;
}
#container section .gioi-thieu #san-pham1 a{
    text-decoration: none;
    color: black;
}
#container section .gioi-thieu #san-pham1 a:hover{
    color: orangered;
}
#container section .gioi-thieu #san-pham1 h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 15px;
}
#container section .gioi-thieu #san-pham1 p{
    color: orangered;
    font-size: 13px;
    padding-top: 3px;
}
#container section .gioi-thieu #san-pham2{
    width: 12.5%;
    height: 240px;
    margin-left: 2%;
    float: left;
    text-align: center;
}
#container section .gioi-thieu #san-pham2 a{
    text-decoration: none;
    color: black;
}
#container section .gioi-thieu #san-pham2 a:hover{
    color: orangered;
}
#container section .gioi-thieu #san-pham2 h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 15px;
}
#container section .gioi-thieu #san-pham2 p{
    color: orangered;
    font-size: 13px;
    padding-top: 3px;
}
#container section .gioi-thieu #san-pham2 span{
    font-size: 11px;
    text-decoration: line-through;
    padding-left: 5%;
    color: grey;
}
#container section .gioi-thieu #san-pham3{
    width: 12.5%;
    height: 240px;
    margin-left: 2%;
    float: left;
    text-align: center;
}
#container section .gioi-thieu #san-pham3 a{
    text-decoration: none;
    color: black;
}
#container section .gioi-thieu #san-pham3 a:hover{
    color: orangered;
}
#container section .gioi-thieu #san-pham3 h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 15px;
}
#container section .gioi-thieu #san-pham3 p{
    color: orangered;
    font-size: 13px;
    padding-top: 3px;
}
#container section .gioi-thieu #san-pham4{
    width: 12.5%;
    height: 240px;
    margin-left: 2%;
    float: left;
    text-align: center;
}
#container section .gioi-thieu #san-pham4 a{
    text-decoration: none;
    color: black;
}
#container section .gioi-thieu #san-pham4 a:hover{
    color: orangered;
}
#container section .gioi-thieu #san-pham4 h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 15px;
}
#container section .gioi-thieu #san-pham4 p{
    color: orangered;
    font-size: 13px;
    padding-top: 3px;
}
#container section .QC1{
    width: 85%;
    margin-left: 6.5%;
    height: 480px;
    float: left;
    margin-top: 30px;
    border: solid 7px orangered;
    margin-bottom: 3%;
}
#container section .QC1 #dong1{
    width: 50%;
    height: 100%;
    float: left;
}
#container section .QC1 #dong1 .anh1{
    width: 50%;
    height: 100%;
    float: left;
}
#container section .QC1 #dong1 .anh2{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 25%;
}
#container section .QC1 #dong1 .anh2 span{
    font-size: 30px;
}
#container section .QC1 #dong1 .anh2 h1{
    font-size: 45px;
}
#container section .QC1 #dong1 .anh2 p{
    font-size: 16px;
    color: gray;
    line-height: 25px;
    font-weight: normal;
}
#container section .QC1 #dong1 .anh2 button{
    color: orangered;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px orangered;
    width: 50%;
    height: 40px;
    background-color: white;
}
#container section .QC1 #dong1 .anh2 button:hover{
    background-color: orangered;
    color: white;
}
#container section .QC1 #dong2{
    width: 50%;
    height: 100%;
    float: left;
}
#container section .QC1 #dong2 .sp1{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
#container section .QC1 #dong2 .sp2{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
#container section .QC1 #dong2 .sp3{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}
#container section .QC1 #dong2 .sp4{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
    border-right: 1px solid gainsboro;
}
#container section .QC1 #dong2 .sp5{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
    border-right: 1px solid gainsboro;
}
#container section .QC1 #dong2 .sp6{
    width: 31%;
    height: 34%;
    float: left;
    text-align: center;
}
#container section .QC1 #dong2 h6 a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
#container section .QC1 #dong2 a:hover{
    color: orangered;
}
#container section .QC1 #dong2 .sp1,.sp2,.sp3{
    margin-top: 15%;
}
#container section .QC2{
    width: 88%;
    height: 26%;
    float: left;
    padding-top: 5%;
    margin-left: 6.5%;
}
#container section .QC2 #dong1{
    width: 50%;
    height: 100%;
    float: left;
}
#container section .QC2 #dong2{
    width: 50%;
    height: 100%;
    float: left;
}
#container section .tai-tro{
    width: 100%;
    height: 200px;
    float: left;
    padding-top: 3%;
}
#container section .tai-tro #dong1{
    width: 100%;
    height: 55%;
    background-color: white;
    float: left;
    padding-left: 6.5%;
}
#container section .tai-tro #dong1 div{
    display: inline-block;
    width:  8.5%;
    margin: 0.2%;
    height: 85%;
}
#container section .tai-tro #dong2{
    width: 88%;
    height: 45%;
    background-color: skyblue;
    float: left;
    margin-left: 6.5%;
    padding-top: 1%;
}
#container section .tai-tro #dong2 .cot1{
    width: 50%;
    height: 70%;
    float: left;
}
#container section .tai-tro #dong2 .cot2{
    width: 47.5%;
    height: 70%;
    float: left;
    display: inline-table;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: hidden;
}
#container section .tai-tro #dong2 h3{
    color: white;
}
#container section .tai-tro #dong2 p{
    font-size: 11px;
    color: white;
}
#container section .tai-tro #dong2 input{
    height: 100%;
    width: 90%;
    padding-left: 3%;
    outline: none;
    border: hidden;
}
#container section .tai-tro #dong2 button{
    width: 10%;
    height: 100%;
    border: hidden;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
#container footer{
    height: 50%;
    width: 100%;
    float: left;
    background-color: rgb(4, 53, 53);
}
#container footer .final{
    width: 88%;
    height: 100%;
    margin-left: 6.5%;
    margin-top: 3%;
}
#container footer .final #dong1{
    width: 23%;
    margin: 1%;
    float: left;
}
#container footer .final #dong1 ul{
    list-style-type: none;
}
#container footer .final #dong1 ul li{
    width: 95%;
    height: 90%;
    line-height: 25px;
}
#container footer .final #dong1  h3{
    color: white;
}
#container footer .final #dong1 ul li a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
#container footer .final #dong1 .hot li{
    display: inline-table;
    width: 13%;
    height: 50%;
    position: relative;
}
#container footer .final #dong1 ul li a:hover{
    color: white;
}
#container footer .final #hr2{
    width: 100%;
    height: 1px;
    background-color: gray;
    float: left;
}
#container footer .final #dong5{
    width: 100%;
    height: 9%;
    float: left;
    text-align: center;
    color: white;
    font-size: 13px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#container footer .final #dong5 p a{
    text-decoration: none;
    color: white;
}
#container footer .final #dong5 p a:hover{
    color: orangered;
}